#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
}

.chat-container {
  width: 500px;
  max-width: 100%;
  height: 500px;
  border: 3px solid gray;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-box {
  display: flex;
  padding: 10px;
}

.input-box input{
  flex: 1;
  padding: 10px;
}

.input-box button{
  padding: 10px 15px;
  background-color: #213547;
  color: #f9f9f9;
  margin-left: 5px;
}

.loading {
  font-size: 12px;
  color: #666;
  padding: 10px;
}

.input {
  flex-direction: column;
}

.msg-user, .msg-ai{
  max-width: 70%;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.msg-user {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.msg-user p{
  margin: 0 0 5px 0;
}

.msg-user span {
  font-size: 11px;
  opacity: 0.8;
  display: block;
  text-align: right;
}

.msg-ai {
  align-self: flex-start;
  background-color: #e9ecef;
  color: #333;
}
.msg-ai p {
  margin: 0 0 5px 0;
  text-align: start;
}
.msg-ai span {
  font-size: 11px;
  opacity: 0.7;
  display: block;
  text-align: right;
}

@media (max-width: 600px) {
  .chat-box {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    border: none;
  }
}